@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <link href="../../Content/LoginAndRegister.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title : eRisk Assessment</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
