@{
    ViewBag.Title = "TermsAndConditions";
}
<div class="mid">
    <div class="inner clearfix height">
       <div class="feat">
            <h2>Terms and conditions</h2>
             <hr />
             <h3>
                eRisk Assessment Lite Mobile Application and eRisk Assessment Mobile Application Disclaimer
             </h3>
             <p>
                Shortec Ltd do not accept responsibility if death or personal injury of an eRisk application user is caused by hazards which may or may not have been identified using the eRisk Assessment/eRisk Assessment Lite mobile application. 
             </p>
       </div>
    </div>
</div>
