<div class="view ng-scope">
    <div class="container">
        <div class="row-fluid">
            <h3>Users</h3>
        </div>
    
        <div class="row-fluid">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="span1">&nbsp;</th>
                        <th class="span1">Email Address</th>
                        <th class="span1">First name</th>
                        <th class="span1">Surname</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                        <td><a ng-show="loggedInUser.IsAdminUser" ng-click="viewUser(user.Id)"><i class="icon-edit"></i></a></td>
                        <td>{{user.EmailAddress}}</td>
                        <td>{{user.FirstName}}</td>
                        <td>{{user.Surname}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>