<div class="view">
    <div class="container">
        <div class="row-fluid">
            <h3>User Details</h3>
        </div>
        <form name="userForm" class="ng-cloak">
            <fieldset>
                <div class="row-fluid">

                    <div class="control-group">
                        <label class="control-label" for="firstName">First Name</label>
                        <div class="controls row-fluid">
                            <input type="text" name="firstName" data-ng-model="user.FirstName" class="span8" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="lastName">Last Name</label>
                        <div class="controls row-fluid">
                            <input type="text" name="lastName" data-ng-model="user.Surname" class="span8" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="jobTitle">Job Title</label>
                        <div class="controls row-fluid">
                            <input type="text" name="jobTitle" data-ng-model="user.JobTitle" class="span8" />
                        </div>
                    </div>

                    <div data-ng-show="user.IsLoggedInUser">
                        
                        <div class="control-group">
                            <label class="control-label" for="oldPassword">Old Password</label>
                            <div class="controls row-fluid">
                                <input type="text" name="oldPassword" data-ng-model="user.OldPassword" class="span8" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="newPassword">New Password</label>
                            <div class="controls row-fluid">
                                <input type="text" name="newPassword" data-ng-model="user.NewPassword" class="span8" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="confirmNewPassword">Confirm New Password</label>
                            <div class="controls row-fluid">
                                <input type="text" name="confirmNewPassword" data-ng-model="user.NewPasswordConfirm" class="span8" />
                            </div>
                        </div>
                    </div>

                    <div class="controls row-fluid">
                        &nbsp;
                    </div>

                    <div class="control-group">
                        <div class="controls row-fluid">
                            <div class="span12">
                                <button class="btn" data-ng-click="returnToList()"><i class="icon-remove-sign"></i> Return to List</button>
                            </div>
                        </div>
                    </div>

                </div>

            </fieldset>
        </form>        
    </div>
</div>
